.background-img {
    background-image: url(images/donation0.jpg);
    height: 400px;
    width: 1250px;
}

.headding-1 {
    color: white;
    text-align: center;
}

.button {
    background-color: chocolate;
    padding: 10px 30px;
    margin-left: 550px;
}
.class-text{
    margin-left: 400px;
}
.donate.com{
    margin-left: 40px;
}
.class-div{
    display: flex;
}
.class11{
    background-color: red;
}
.class-button{
    margin-left: 200px;
}
.class-head{
    margin-left: 30px;
}
#class12{
    color: brown;
    box-shadow: red;
}
.class2 {
    text-align: center;
    margin-top: 70px;
}

.images-food {
    height: 30px;
    width: 40px;
    margin-top: 40px;
    margin-left: 20px;
}

.class-food {
    background-color: rgb(196, 201, 200);
    margin-left: 80px;
    height: 300px;
    width: 300px;
}

.class3 {
    margin-top: 40px;
    margin-left: 20px;
}

.image-familly {
    height: 30px;
    width: 40px;
    margin-top: 40px;
    margin-left: 20px;
}

.class-familly {
    background-color: rgb(251, 245, 234);
    margin-left: 80px;
    height: 300px;
    width: 300px;
}

.class-familly2 {
    margin-top: 40px;
    margin-left: 20px;
}

.image-educated {
    height: 30px;
    width: 40px;
    margin-top: 40px;
    margin-left: 20px;
}

.class-educated {
    background-color: rgb(237, 217, 193);
    margin-left: 80px;
    height: 300px;
    width: 300px;
}

.educated2 {
    margin-top: 40px;
    margin-left: 20px;
}

.main-div {
    display: flex;
    margin-top: 50px;
}

section {
    display: flex;
    padding: 50px;
}

.class-half {
    width: 50%;
}

.class-half img {
    width: 100%;
}
.button-of1{
    padding: 10px;
    background-color: red;
    color: white;
}
.donation{
    height: 400px;
    width: 500px;
}
.class-class4{
    margin-left: 60px;
}
.class5{
    margin-left: 500px;
}
.class6{
    margin-left: 400px;
    background-color: bisque;
    height: 70px;
    width: 500px;
}
.class7{
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
}
.class8{
    background-color: red;
}